<html>
    <head>
        <meta charset="utf-8"/>
        
        <link rel="stylesheet" href="static/style.css">
        <style>
            table {
                width: 100%;
                border: 1px solid #444444;
                border-collapse: collapse;
            }
            th, td {
                border: 1px solid #444444;
                padding: 8px;
            }
        </style>
    </head>
    <body>
        <h2>
            문제 조회
        </h2>
        
        <h3 style="color: red" id="message">
            <% if ( locals.message ) { %>
                <%= message %>
            <% } %>
        </h3>
        
        <!-- Query  -->
        <form method="POST" action="/front/problem/inquiry">
            학년 : <input type="text" name="age"/><br>
            <input type="radio" name="isMultipleQuestion" value="true">객관식 
            <input type="radio" name="isMultipleQuestion" value="false">주관식 <br>
            정답 : <input type="text" name="answer"/><br>
            대단원 : <input type="text" name="bigChapter"/><br>
            중단원 : <input type="text" name="middleChapter"/><br>
            소단원 : <input type="text" name="smallChapter"/><br>
            난이도 : <input type="text" name="level"/><br>
            출처 : <input type="text" name="source"/><br>
            출제년도 범위 : <input type="date" name="startDate"/> ~ <input type="date" name="endDate"/><br>
            <input type="submit"/>
        </form>
        
        <a href="/front"> 메인 페이지 </a>
        
        <!-- Result  -->
        <% if ( locals.problemList ) { %>
            <table>
                <thead>
                    <tr>
                        <th>문제 번호</th>
                        <th>문제 경로</th>
                        <th>해답 경로</th>
                        <th>객관식/주관식</th>
                        <th>답</th>
                        <th>학년</th>
                        <th>대단원</th>
                        <th>중단원</th>
                        <th>소단원</th>
                        <th>난이도</th>
                        <th>출처</th>
                        <th>출제년도</th>
                    </tr>
                </thead>
            <% for (let i = 0; i < problemList.length; i++ ) { %>
                <tr>
                    <td><%= problemList[i].problemID %></td>
                    <td><%= problemList[i].problemURL %></td>
                    <td><%= problemList[i].solutionURL %></td>
                    <td><%= problemList[i].isMultipleQuestion %></td>
                    <td><%= problemList[i].answer %></td>
                    <td><%= problemList[i].problemCondition.age %></td>
                    <td><%= problemList[i].problemCondition.bigChapter %></td>
                    <td><%= problemList[i].problemCondition.middleChapter %></td>
                    <td><%= problemList[i].problemCondition.smallChapter %></td>
                    <td><%= problemList[i].problemCondition.level %></td>
                    <td><%= problemList[i].problemCondition.source %></td>
                    <td><%= problemList[i].date %></td>
                </tr>
            <% } %>
            </table>
        <% } %>
    </body>
</html>